<div class="curved-yellow-banner">
  <div class='profile-links'>
    <%= link_to settings_path, class: 'settings-icon' do %>
      <i class="fas fa-cog"></i>
    <% end %>
    <%= link_to destroy_user_session_path, method: :delete, class: 'black-link' do %>
      <i class="fas fa-sign-out-alt"></i>
    <% end %>
  </div>
  <div class="user-avatar-small-circle">
    <%= render 'avatar_placeholder', user: current_user %>
  </div>
  <div class="user-name">
    <h1><%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %></h1>
  </div>
</div>
<div class="user-post-count">
  <div>
    <h2><%= @user.animals.size %></h2>
    <p><%= "post".pluralize @user.animals.size %></p>
  </div>
   <div>
    <h2><%= @user.bookmarks.size %></h2>
    <p><%= "bookmark".pluralize @user.bookmarks.size %></p>
  </div>
</div>
<div class="user-posts">
  <h1 class=profile-titles>My Posts</h1>
  <% if @user.animals.empty? %>
    <p> You have no posts</p>
  <% else %>
  <div class="user-animal-cards">
    <% @user.animals.order(created_at: :desc).each do |animal| %>
      <div class="user-animal-card">
        <%= link_to animal_path(animal) do %>
          <%= render 'animals/photo_placeholder', animal: animal %>
        <% end %>
      <div class="animal-card-info">
        <p class='animal-card-title'><%= animal.title.capitalize %></p>
        <% if animal.animal_status.status == 'lost' || animal.animal_status.status == 'found' || animal.animal_status.status == 'adopt'%>
          <%= link_to edit_animal_path(animal) do %>
            <i class="fas fa-pencil-alt"></i>
        <% end %>
        <% end %>
      </div>
      <div class="animal-status" data-animal-status-id="<%= animal.id %>">
        <%= AnimalStatus.find(animal.animal_status_id).status%>
        <% if animal.animal_status.status == 'lost' || animal.animal_status.status == 'found' %>
          <%= link_to "Reunited?", update_animal_status_path(animal), method: 'patch', remote: true, data: {confirm: 'Are you sure you want to change this status?'} %>
        <% elsif animal.animal_status.status == 'adopt' %>
          <%= link_to "Adopted?", update_animal_status_path(animal), method: 'patch', remote: true, data: {confirm: 'Are you sure you want to change this status?'} %>
        <% end %>
      </div>
      </div>
    <% end %>
  </div>
  <% end %>
</div>

<div class="user-posts">
  <h1 class='profile-titles'>My Bookmarks</h1>
  <% if @user.bookmarks.count == 0 %>
    <p> You have no bookmarks</p>
  <% else %>
  <div class="user-animal-cards">
    <% @user.bookmarked_animals.order(created_at: :desc).each do |animal| %>
      <div class="user-animal-card">
        <%= link_to animal_path(animal) do %>
          <%= render 'animals/photo_placeholder', animal: animal %>
        <% end %>
      <div class="animal-card-info">
        <p class="animal-card-title"><%= animal.title.capitalize %></p>
        <% if animal.user == current_user %>
          <% if animal.animal_status.status == 'lost' || animal.animal_status.status == 'found' || animal.animal_status.status == 'adopt'%>
            <%= link_to edit_animal_path(animal) do %>
              <i class="fas fa-pencil-alt"></i>
            <% end %>
          <% end %>
        <% end %>
      </div>
        <div class="animal-status" data-animal-status-id="<%= animal.id %>">
          <%= AnimalStatus.find(animal.animal_status_id).status%>
          <% if animal.user == current_user %>
            <% if animal.animal_status.status == 'lost' || animal.animal_status.status == 'found' %>
              <%= link_to "Reunited?", update_animal_status_path(animal), method: 'patch', remote: true, data: {confirm: 'Are you sure you want to change this status?'} %>
            <% elsif animal.animal_status.status == 'adopt' %>
              <%= link_to "Adopted?", update_animal_status_path(animal), method: 'patch', remote: true, data: {confirm: 'Are you sure you want to change this status?'} %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <% end %>
</div>
