<div class="curved-yellow-banner">
  <div class="settings-icon">
    <%= link_to settings_path do%>
      <i class="fas fa-cog"></i>
    <% end %>
  </div>
  <!-- user profile image -->
  <div class="user-name">
    <h1><%= @user.first_name %> <%= @user.last_name %></h1>
  </div>
</div>


<div class="user-post-count">
  <h2><%= @user.animals.size %></h2>
  <p><%= "post".pluralize @user.animals.size %></p>
</div>
<div class="user-posts">
  <h1>My Posts</h1>
  <div class="user-animal-cards">
    <% @user.animals.each do |animal| %>
      <div class="user-animal-card">
        <!-- animal.image -->
        <div class="animal-card-info">
          <%= animal.title %>
          <%= link_to edit_animal_path(animal) do %>
            <i class="fas fa-pencil-alt"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
