<div class="curved-yellow-banner">
  <div class="settings-icon">
    <%= link_to settings_path do%>
      <i class="fas fa-cog"></i>
    <% end %>
  </div>
  <div class="user-avatar-small-circle">
    <%= render 'avatar_placeholder', user: current_user %>
  </div>
  <div class="user-name">
    <h1><%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %></h1>
  </div>
</div>
<div class="user-post-count">
  <h2><%= @user.animals.size %></h2>
  <p><%= "post".pluralize @user.animals.size %></p>
</div>
<div class="user-posts">
  <h1><strong>My Posts</strong></h1>
  <div class="user-animal-cards">
    <% @user.animals.each do |animal| %>
      <div class="user-animal-card">
        <%#= link_to animal_path(animal) do %>
          <%= render 'animals/photo_placeholder', animal: animal %>
        <%#= cl_image_tag animal.photos.first.key, height: 300, width: 400, crop: :fill%>
        <%# end %>
      <div class="animal-card-info">
        <%= animal.title.capitalize %>
        <%= link_to edit_animal_path(animal) do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
      </div>
      <div class="animal-status">
        <%= AnimalStatus.find(animal.animal_status_id).status%>
      </div>
      </div>
    <% end %>
  </div>
</div>
