<div class="back-icon">
  <%= link_to dashboard_path do%>
      <i class="fas fa-arrow-left"></i>
    <% end %>
</div>
<div class="user-avatar-large-circle">
  <%= render 'avatar_placeholder', user: current_user %>
</div>
<div class="user-setting-name">
  <h1><strong><%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %></strong></h1>
</div>
<div class="user-info">
  <div><i class="fas fa-map-marker-alt"> </i> <%= @user.location %></div>
  <div><i class="fas fa-envelope-open-text"></i> <%= @user.email %></div>
</div>
<div class="update-user-info">
  <%= simple_form_for(@user, url: update_settings_path) do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :email %>
  <%= f.input :location %>
  <%= f.input :avatar, as: :file %>
  <%= f.submit "submit", class: "btn btn-primary" %>
<% end %>
</div>
