<div class="navbar">
  <div class="navbar-icon">
    <%= image_tag "poster.svg", alt: "Lost & Found" %>
    <p>Lost & Found</p>
    <%= link_to "", animals_path(status: :lost), class: "absolute-0-0" %>
  </div>

  <div class="navbar-icon">
    <%= image_tag "adoption.svg", alt: "Adoption" %>
    <p>Adoption</p>
    <%= link_to "", animals_path(status: :adopt), class: "absolute-0-0" %>
  </div>

  <div class="navbar-icon">
    <%= image_tag "sos.svg", alt: "Medical Emergency" %>
    <p>Medical Emergency</p>
    <%= link_to "", animals_path, class: "absolute-0-0" %>
  </div>

  <div class="navbar-icon">
    <%= image_tag "chat.svg", alt: "Messages" %>
    <p>Messages</p>
    <%= link_to "", animals_path, class: "absolute-0-0" %>
  </div>

  <div class="navbar-icon">
    <%= image_tag "user.svg", alt: "Profile" %>
    <p>Profile</p>
    <%= link_to "", animals_path, class: "absolute-0-0" %>
  </div>
</div>
