<div class="chat-index-header">
  <%= link_to root_path do%>
    <%= image_tag "logo.png" %>
  <% end %>
</div>
 <div class="index-header">
  <h4>All Messages</h4>
 </div>

 <div class="chats-container">
  <% if @chats.last.nil? %>
    <p style="text-align: center; margin-top: 18px;">You don't have any messages right now:(</p>
  <% else %>
    <% @chats.each do |chat| %>
      <div class="chat-card">
        <% if current_user == chat.user1 %>
          <%= render "dashboard/avatar_placeholder", user: chat.user2 %>
        <% else %>
          <%= render "dashboard/avatar_placeholder", user: chat.user1 %>
        <% end %>
        <div class="chat-content">
          <h4><%= render "chat_user_check", current_user: current_user, chat: chat %></h4>
          <% if chat.messages.last.nil? %>
            <p class=placeholder> </p>
          <% else %>
            <p><%= chat.messages.last.content %></p>
          <% end %>
        </div>
        <div>
          <% if chat.messages.last.nil? %>
            <p class=placeholder> </p>
          <% else %>
            <p><%= chat.messages.last.created_at.strftime("%B, %d, %Y") %></p>
          <% end %>
          <p class=placeholder> </p>
        </div>
        <%= link_to "", chat_path(chat), class: "absolute-0-0" %>
      </div>
    <% end %>
  <% end %>
 </div>
