<div class="show-header">
  <%= link_to chats_path do%>
    <i class="fas fa-arrow-left"></i>
  <% end %>
  <%= link_to root_path do%>
    <%= image_tag "logo.png" %>
  <% end %>
</div>
<div class="chat-header">
  <%= render "chat_user_check", current_user: current_user, chat: @chat%>
</div>
<div class="messages">
  <% @chat.messages.each do |message| %>
    <%= render "messages/message", message: message, user_is_messages_author: message.user == current_user %>
  <% end %>
</div>
<div id="create-message">
  <%= image_tag "login-banner.png", class: 'chat-dog' %>
  <%= simple_form_for [ @chat, Message.new ], remote: true, html: {autocomplete: "off" } do |f| %>
    <%= f.input :content, label: false, placeholder: 'Message...' %>
  <% end %>
</div>
<% content_for :after_js do %>
  <script>
    scrollLastMessageIntoView();
    App['chat_<%= @chat.id %>'] = App.cable.subscriptions.create({ channel: 'ChatsChannel', chat_id: <%= @chat.id %> }, {
      received: (data) => {
        if (data.current_user_id !== <%= current_user.id %>) {
          const messagesContainer = document.querySelector('.messages');
          messagesContainer.insertAdjacentHTML('beforeend', data.message_partial);
          scrollLastMessageIntoView();
        }
      }
    })
  </script>
<% end %>
