<div class="home-page">
  <%= image_tag "homepage-banner.png", id: "home-page-banner" %>

  <div class="stats">
    <div class="stats-number">
      <p><%= Animal.where("animal_status_id = #{@adopted}").count %></p>
      <p><%= Animal.where("animal_status_id = #{@reunited}").count %></p>
    </div>
    <div class="stats-title">
      <p>Adoptions</p>
      <p>Pets Found</p>
    </div>
  </div>

  <div class="pet-card-header">
    <% if current_user.nil? %>
      <h3><%= image_tag "problem.svg", alt: "alttext" %> Latest lost PET</h3>
    <% else %>
      <h3><%= image_tag "problem.svg", alt: "alttext" %> Lost PET near you</h3>
    <% end %>
    <%= link_to "see all", animals_path(status: :lost) %>
  </div>

  <div class="home-pet-cards">
    <% @lost_animals.each do |animal| %>
      <div class="home-pet-card">
        <%= render 'animals/photo_placeholder', animal: animal %>
        <p class="animal-title"><%= animal.title %></p>
        <!-- gender -->
        <p class="animal-location"><i class="fas fa-map-marker-alt"></i> <%= animal.location %></p>
        <!-- like -->
        <%= link_to "", animal_path(animal), class: "absolute-0-0" %>
      </div>
    <% end %>
  </div>

  <div class="pet-card-header">
    <h3><%= image_tag "heart-home.svg", alt: "alttext" %> Find your new best friend</h3>
    <%= link_to "see all", animals_path(status: :adopt) %>
  </div>

  <div class="home-pet-cards">
    <% @adopt_animals.each do |animal| %>
      <div class="home-pet-card">
        <%= render 'animals/photo_placeholder', animal: animal %>
        <p class="animal-title"><%= animal.title %></p>
        <!-- gender -->
        <p class="animal-location"><i class="fas fa-map-marker-alt"></i> <%= animal.location %></p>
        <!-- like -->
        <%= link_to "", animal_path(animal), class: "absolute-0-0" %>
      </div>
    <% end %>
  </div>
</div>
