<% if animal_type == 'dog' %>
    <div><%= image_tag "dog.svg"%> <%= animal_type %></div>
  <% elsif animal_type == 'rabbit' %>
    <div><%= image_tag "rabbit.svg"%> <%= animal_type %></div>
  <% elsif animal_type == 'cat' %>
    <div><%= image_tag "khao-manee-cat.svg"%> <%= animal_type %></div>
  <% elsif animal_type == 'bird' %>
    <div><%= image_tag "bird.svg"%> <%= animal_type %></div>
<% end %>
