
<div>
  <h2 class="filter-by-pet-header"><strong>Filter by pet type</strong></h2>
  <div class="animal-type-icon">
    <img src="assets/khao-manee-cat.svg" data-animal-type='cat' alt="cat" class='animal-filter-icon icon'>
    <img src="assets/dog.svg" data-animal-type='dog' alt="dog" class='animal-filter-icon icon'>
    <img src="assets/bird.svg" data-animal-type='bird' alt="bird" class='animal-filter-icon icon'>
    <img src="assets/rabbit.svg" data-animal-type='rabbit' alt="rabbit" class='animal-filter-icon icon'>
  </div>
</div>
<div class="all-cards">
<% @animals.each do |animal|%>
  <div class="card-animal-list" data-animal-type="<%= animal.animal_type.name %>" data-animal-gender="<%= animal.gender %>">
    <div class="animal-card">
      <div class="image-wrap">
        <% if animal.photos.attached? %>
        <%= link_to animal_path(animal) do %>
          <%= cl_image_tag animal.photos.first.key, class: "photo-animal-card" %>
          <% end %>
        <% else %>
          <%= link_to animal_path(animal) do %>
            <%= image_tag "logo.png", class: "photo-animal-card" %>
          <% end %>
        <% end %>
      </div>
      <div class="card-info-wrap">
        <div class="animal-contact">
          <p><strong><%= animal.title %></strong></p>
        </div>
        <div class="animal-location">
         <p class='animal-location-padding'><i class="fas fa-map-marker-alt"></i> <%= animal.location.capitalize %></p>
        </div>
      </div>
    </div>
    <div class="card-gender-wrap">
      <%if animal.gender == 'male'%>
        <i class="fas fa-mars"></i>
      <%else %>
          <i class="fas fa-venus"></i>
      <% end %>
    </div>
  </div>
<% end %>
</div>


