
<div>
  <h2 class="filter-by-pet-header"><strong>Filter by pet type</strong></h2>
  <div class="animal-type-icon">

    <button class='animal-filter-icon' data-animal-type='cat'><%= image_tag "khao-manee-cat.svg", alt: "cat", class: 'icon' %></button>
    <button class='animal-filter-icon' data-animal-type='dog'><%= image_tag "dog.svg", alt: "dog", class: 'icon' %></button>
    <button class='animal-filter-icon' data-animal-type='bird'><%= image_tag "bird.svg", alt: "bird", class: 'icon' %></button>
    <button class='animal-filter-icon' data-animal-type='rabbit'><%= image_tag "rabbit.svg", alt: "rabbit", class: 'icon' %></button>
  </div>
</div>

<% @animals.each do |animal|%>
  <div class="card-animal-list" data-animal-type="<%= animal.animal_type.name %>" data-animal-gender="<%= animal.gender %>">
    <div class="animal-card">
      <div class="image-wrap">
        <% if animal.photos.attached? %>
        <%= link_to animal_path(animal) do %>
          <%= cl_image_tag animal.photos.first.key, class: "photo-animal-card" %>
          <% end %>
        <% else %>
          <%= link_to animal_path(animal) do %>
            <%= image_tag "logo.png", class: "photo-animal-card" %>
          <% end %>
        <% end %>
      </div>
      <div class="card-info-wrap">
        <div class="animal-contact">
          <p><strong><%= animal.title %></strong></p>
        </div>
        <div class="animal-location">
         <p class='animal-location-padding'><i class="fas fa-map-marker-alt"></i> <%= animal.location.capitalize %></p>
        </div>
      </div>
    </div>
    <div class="card-gender-wrap">
      <p><%if animal.gender == 'male'%></p>
          <i class="fas fa-mars"></i>
        <%else %>
          <i class="fas fa-venus"></i>
        <% end %>
    </div>
  </div>
<% end %>


