
<div>
  <h2>Filter by pet type</h2>

  <button class='animal-filter-icon animal-button-outline' data-animal-type='cat'><%= image_tag "khao-manee-cat.svg", alt: "cat", class: 'icon' %></button>
  <button class='animal-filter-icon animal-button-outline' data-animal-type='dog'><%= image_tag "dog.svg", alt: "dog", class: 'icon' %></button>
  <button class='animal-filter-icon animal-button-outline' data-animal-type='bird'><%= image_tag "bird.svg", alt: "bird", class: 'icon' %></button>
  <button class='animal-filter-icon animal-button-outline' data-animal-type='rabbit'><%= image_tag "rabbit.svg", alt: "rabbit", class: 'icon' %></button>
</div>

<% @animals.each do |animal| %>
  <div class="card-animal-list" data-animal-type="<%= animal.animal_type.name %>" data-animal-gender="<%= animal.gender %>">
    <%= animal.title %>
    <%= animal.gender%>
    <%= animal.age %>
    <%= animal.location %>
  </div>
<%end %>

