<div class="curved-yellow-banner">
  <div class="search-title">
    <h2> <strong>Search for pet that have been..</strong></h2>
  </div>
  <div class="lost-found-button">
    <a class="list-button lost_button_class" href="animals?status=lost">Lost</a>
    <a class='list-button found_button_class' href="animals?status=found">Found</a>
  </div>


<!-- # search bar -->
  <div class="search-form-inline">
    <%= form_tag animals_path, method: :get, class: 'form-inline' do %>
    <div class="input-group">
      <%= text_field_tag :query, params[:query],
        class: "form-control",
        placeholder: "Search for a pet.."
      %>
      <%= hidden_field_tag :status, params[:status] %>
      <div class="input-group-append">

      </div>
    </div>
    <% end %>
<!-- # add a pet button -->
<% if params[:status] == 'lost' %>
    <p><i class="fas fa-plus"></i> <%= link_to "Or, did you lose your pet?", new_animal_path(status: 'lost'), class: 'add-button' %></p>
  <% else %>
    <p><i class="fas fa-plus"></i> <%= link_to "Or, did you find a pet?", new_animal_path(status: 'found'), class: 'add-button' %></p>
<% end %>

</div>

<script>
  let button = '';
  if (<%= params[:status] == 'lost' %>) {
    button = '.lost_button_class'
  } else if (<%= params[:status] == 'found' %>) {
    button = '.found_button_class'
  }
  document.querySelector(button).classList.add('active');
</script>
