
<div class="curved-yellow-banner">
  <h2 class="search-h2"> <strong>Search for pet that have been..</strong></h2>
  <div class="lost-found-button">
    <%= link_to "Lost", animals_path(status: 'lost'), class: 'lostfound-button' %>
    <%= link_to "Found", animals_path(status: 'found'), class: 'lostfound-button' %>
  </div>


<!-- # search bar -->
  <div class="search-form-inline">
    <%= form_tag animals_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find an animal"
      %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
<!-- # add a pet button -->
    <p class='add-button'> <%= link_to "Or, did you lose you pet?", new_animal_path %></p>
  </div>
</div>

<script>
const button = document.querySelectorAll('.lostfound-button');
  button.forEach (button => {
    button.addEventListener("click", () =>  {
    button.style.backgroundColor = "black";
    button.style.color = "white";

    });
});
</script>
