<div class="show-header">
  <%= link_to dashboard_path do%>
    <i class="fas fa-arrow-left"></i>
  <% end %>
  <%= link_to root_path do%>
    <%= image_tag "logo.png" %>
  <% end %>
</div>

<div class="container mt-5">
<%= simple_form_for @animal do |f| %>
  <%= f.input :title %>
  <%= f.input :breed %>
  <%= f.input :age %>
  <%= f.input :gender, as: :radio_buttons, collection: ['Male', 'Female'] %>  <%= f.input :location %>
  <%= f.input :description %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>

  <%= f.submit "Submit", class: "btn btn-primary " %>
<% end %>
</div>
