<div class="container mt-5">
<%= simple_form_for @animal do |f| %>
  <% if params[:status] %>
    <%= hidden_field_tag "status", params[:status] %>
  <% end %>
  <%= f.input :photos %>
  <%#= f.input :photo_cache, as: :hidden %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.label :animal_type %>
  <%= f.collection_radio_buttons(:title, [['Dog', 'dog'], ['Bird', 'bird'], ['Rabbit', 'rabbit'], ['Cat', 'khao-manee-cat']],
                             :first, :last,
                             :item_wrapper_class => 'horizontal',
                             ) { |title| title.label { image_tag("#{title.text}.svg")} + title.radio_button }%>
  <%= f.input :gender, as: :radio_buttons, collection: ['Male', 'Female'] %>
  <%= f.input :title %>
  <%= f.input :location %>
  <%= f.input :breed %>
  <%= f.input :age %>
  <%= f.input :description %>

  <%= f.submit "Submit", class: "btn btn-primary " %>
<% end %>
</div>

<style>
</style>
