<!-- carousel ofimages -->
<div class="animal-name">
  <h1><%= @animal.title %></h1>
</div>
<% if @animal_status == 'adopt'  %>
  <div><%= @animal.breed %>, <%= @animal.gender %></div>
<% end %>
<div class="animal-info">
  <div><i class="fas fa-map-marker-alt"> </i> <%= @animal.location %></div>
  <%= render "animal_type_icon", animal_type: @animal_type %>
  <%= render "animal_gender_icon", gender: @animal.gender %>
    <% if @animal_status == 'lost' || @animal_status == 'found' %>
      <%= @animal_status.upcase  %>
    <% elsif @animal_status == 'adopt' %>

    <% end %>
</div>
