<!-- carousel ofimages -->
<div class="animal-name">
  <h1><%= @animal.title %></h1>
  <div class="animal-info">
    <div><i class="fas fa-map-marker-alt"> </i> <%= @animal.location %></div>
      <% if @animal_type == 'dog' %>
        <div><%= image_tag "dog.svg"%> <%= @animal_type %></div>
      <% elsif @animal_type == 'rabbit' %>
        <div><%= image_tag "rabbit.svg"%> <%= @animal_type %></div>
      <% elsif @animal_type == 'cat' %>
        <div><%= image_tag "khao-manee-cat.svg"%> <%= @animal_type %></div>
      <% elsif @animal_type == 'bird' %>
        <div><%= image_tag "bird.svg"%> <%= @animal_type %></div>
      <% end %>
      <% if @animal.gender == 'female' %>
        <div><%= image_tag "woman.svg"%> <%= @animal.gender %></div>
      <% elsif @animal.gender == 'male' %>
        <div><%= image_tag "male.svg"%> <%= @animal.gender %></div>
      <% end %>
    <%= @animal_status.upcase %>
  </div>
</div>
