<!-- app/views/offers/show.html.erb -->
<% content_for :meta_title, "#{@offer.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @offer.description %>
<% content_for :meta_image, cl_image_path(@offer.photo.path) %>
<div class="show-header">
  <%= link_to @back_url do%>
    <i class="fas fa-arrow-left"></i>
  <% end %>
  <%= link_to root_path do%>
    <%= image_tag "logo.png" %>
  <% end %>
</div>
<!-- carousel ofimages -->
<div class="carousel">
  <div class="user-show-details">
    <% if @first_photo %>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= cl_image_tag @first_photo.key, height: 400, width: 400, crop: :fill, class: 'd-block w-100 show-card-img' %>
          </div>
          <% @remaining_photos.each do |photo| %>
            <div class="carousel-item">
             <%= cl_image_tag photo.key, height: 400, width: 400, crop: :fill, class: 'd-block w-100 show-card-img' %>
            </div>
          <% end %>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <% else %>
      <%= render 'photo_placeholder', animal: @animal %>
    <% end %>
  </div>
<div class="animal-show-details">
  <div class="animal-name">
    <h1><%= @animal.title %></h1>
    <%= render 'bookmark_link', animal: @animal %>
  </div>
  <% if @animal_status == 'adopt'  %>
    <div><%= @animal.breed.capitalize %>, <%= pluralize @animal.age, 'year' %> old </div>
  <% end %>
  <div class="animal-info">
    <div><i class="fas fa-map-marker-alt"> </i> <%= @animal.location %></div>
    <%= render "animal_type_icon", animal_type: @animal_type %>
    <%= render "animal_gender_icon", gender: @animal.gender %>
      <% if @animal_status == 'lost' || @animal_status == 'found' || @animal_status == 'reunited' || @animal_status == 'adopted' %>
        <p><%= @animal_status.upcase %></p>
      <% end %>
  </div>
</div>
<div class="user-post-info">
  <!-- avatar -->
  <div class="avatar-wrap">
    <%= render 'dashboard/avatar_placeholder', user: @animal.user %>
    <p><strong><%= @animal.user.first_name.capitalize %> <%= @animal.user.last_name.capitalize %></strong></p>
  </div>
  <p class="light-grey-date"><%= @animal.created_at.strftime("%B, %d, %Y") %></p>
</div>
<div class="about-animal-text">
  <p><strong>About</strong></p>
  <p><%= @animal.description %></p>
</div>
<% if current_user != @animal.user %>
  <div class="yellow-message-button mb-3">
    Message <%= @animal.user.first_name.capitalize %>
    <%= link_to "", start_chat_path(@animal.user.id), class: 'absolute-0-0' %>
  </div>
<% end %>
